<header>Web Audio Sequencer</header>
<p>Make music with sounds from around the web.</p>
<p>To audition a sound, click the play button to the left of its title.</p>
<p>Once you've found a sound you like, click the + button to the right of its title.</p>
<p>You will be prompted to choose one of the following options:</p>
<ul>
	<li><span class="feature">Melodic</span> - the layer will feature one sound playable at varying pitches (like a piano).</li>
	<li><span class="feature">Percussive</span> - the layer will feature one sound playable at one pitch, with room to stack additional sounds (like a drumkit).</li>
</ul>
<p>Then the sequence interface will appear and you can begin making music. Have fun!</p>
<footer>By <a href="http://stuartkeith.com" target="_blank">Stuart Keith</a>. Source available on <a href="https://github.com/stuartkeith/webaudiosequencer/" target="_blank">GitHub</a>.</footer>
