.sound-browser-controls {
	font-size: 0; // remove gaps between inline-blocks
	margin: 16px 0;
}

.sounds table {
	display: inline-block;
}

.previous, .refresh, .next {
	height: 32px;
	margin-right: 8px;
	vertical-align: middle;
	width: 32px;
}

.refresh .ui-icon {
	-webkit-animation: rotate-360 1.2s infinite linear;
	-webkit-animation-play-state: paused;
}

.refresh:disabled .ui-icon {
	-webkit-animation-play-state: running;
}

.collection-select {
	display: inline-block;
	height: 32px - $button-border * 2;
	line-height: 32px - $button-border * 2;
	margin: 0 8px;

	& label {
		vertical-align: middle;
	}
}

.search-input {
	margin-left: 8px;
	vertical-align: middle;
	width: 24em;
}
