$sound-width: 160px;
$sound-height: 32px;
$sound-border: 2px;
$sound-play-margin: ($sound-height - $sound-border - $sprite-buttons-play-height - $button-border) / 2;
$sound-add-margin: ($sound-height - $sound-border - $sprite-buttons-add-height - $button-border) / 2;

.sound {
	height: $sound-height;
	overflow: hidden;
	position: relative; // needed for draggable's position: absolute
	min-width: $sound-width;
}

.empty-sound, .draggable {
	@include set-width($sound-width, 0, $sound-border);
	@include set-height($sound-height, $sound-border, 0);
	background-color: $panel-foreground;
	border-right: $sound-border solid $panel-background;
	border-bottom: $sound-border solid $panel-background;
}

.draggable {
	cursor: move;
	position: absolute;
	font-size: 10px;

	&:hover {
		background-color: $dragdrop-foreground;
		border-color: $dragdrop-background;
	}
}

.dragstart, .dragstart:hover {
	background-color: $dragdrop-active-foreground;
	border-color: $dragdrop-active-background;
}

.sound-play {
	float: left;
	height: 16px;
	margin: $sound-play-margin;
	width: 16px;
}

.add {
	float: right;
	height: 16px;
	margin: $sound-add-margin;
	width: 16px;
}

.title {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
