.buttonset {
	font-size: 0;

	& .button-normal {
		font-weight: normal;
	}

	& .button-active {
		font-weight: bold;
	}

	& .button-normal:nth-child(odd) {
		background-color: $action-foreground-odd;
	}
}

.button, .alertify-button {
	background: $action-foreground;
	border: $button-border-width solid $action-background;
	@include vendor-prefix(box-sizing, border-box);
	color: $action-text;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	outline: none;
	padding: 0;
	position: relative;
	text-decoration: none !important;
}

/*
.button-normal:hover {
	background: $action-foreground-hover;
	border-color: $action-background-hover;
}
*/

.button-active {
	// h-shadow v-shadow blur spread color |inset|initial|inherit;
	box-shadow: 0 8px 0 -4px rgba(0,0,0,0.2) inset;
}

.button-active, .alertify-button-ok {
	background: $action-foreground-active;
	border-color: $action-background-active;
	color: $action-text;
}

.button-icon {
	display: block;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 50%;
}

.button-disabled {
	background-color: $disabled-foreground;
	border-color: $disabled-background;
	cursor: default;
}

.button-left {
	border-top-left-radius: $button-border-radius;
	border-bottom-left-radius: $button-border-radius;
}

.button-right {
	border-top-right-radius: $button-border-radius;
	border-bottom-right-radius: $button-border-radius;
}
