* {
	box-sizing: border-box;
	-webkit-user-select: none;
}

input {
	-webkit-user-select: auto;
}

body {
	background-color: $background;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.button {
	cursor: pointer;
}
