* {
	-webkit-user-select: none;
}

input {
	-webkit-user-select: auto;
	color: #3F3F3F;
	margin: 0;
}

html {
	overflow-y: scroll;
}

body {
	background-color: $background;
	color: #3F3F3F;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

input[type=range] {
	-webkit-appearance: none;
	background-color: $range-background;
	box-sizing: border-box;
	cursor: pointer;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background-color: $action-foreground;
		border: $button-border-width solid $action-background;
		border-radius: $button-border-radius;

		&:hover {
			background-color: $action-foreground-hover;
			border-color: $action-background-hover;
		}

		&:active {
			background-color: $action-foreground-active;
			border-color: $action-background-active;
		}
	}
}

.master-volume {
	@include input-range(64px, 16px);
}

#description {
	left: 50%;
	margin-left: -16em;
	position: absolute;
	text-align: center;
	top: 25%;
	width: 32em;

	& p {
		margin-bottom: 1.5em;
	}
}

.pop-up {
	background: $panel-foreground;
	border: 4px solid $chrome-foreground;
	border-radius: 4px;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
	display: inline-block;
	padding: 4px;
	position: absolute;
	z-index: 999999;
}
