@mixin vendor-prefix($name, $argument) {
	#{$name}: $argument;
	-webkit-#{$name}: $argument;
	-moz-#{$name}: $argument;
}

@mixin center($height) {
	margin-top: -$height / 2;
	position: relative;
	top: 50%;
}

@mixin set-width($width, $border-right: 0, $border-left: 0) {
	width: $width - $border-right - $border-left;
}

@mixin set-height($height, $border-top: 0, $border-bottom: 0) {
	$fixed-height: $height - $border-top - $border-bottom;

	height: $fixed-height;
	line-height: $fixed-height;
}

@mixin input-range($width, $height) {
	width: $width;
	height: $height;

	@each $prefix in '', '-moz-', '-webkit-' {
		&::#{$prefix}slider-thumb {
			height: $height;
			width: $height;
		}
	}
}
