$sound-width: 160px;
$sound-height: 32px;
$sound-border: 2px;

$inner-height: $sound-height - ($sound-border * 2);

$button-offset: 5px;
$title-left: $inner-height;
$title-width: $sound-width - ($sound-border * 2) - ($inner-height * 2);

.sound-browser {
	.sounds-wrapper {
		background-color: $panel-light;
		border: ($sound-height / 2) solid $panel-dark;
		display: inline-block; // fit contents
		height: $sound-height * 2;
		width: auto;
	}

	.sounds {
		overflow: hidden;
	}

	.sound {
		border: $sound-border solid $panel-highlight;
		float: left;
		height: $sound-height;
		overflow: hidden;
		position: relative;
		width: $sound-width;
	}

	.draggable {
		background-color: $panel-light;
		cursor: move;
		height: 100%;
		position: absolute;
		width: 100%;

		&:hover {
			background-color: $action-light;
		}
	}

	.dragstart, .dragstart:hover {
		background-color: $action-dark;
	}

	.title {
		display: block;
		font-size: 12px;
		left: $title-left;
		line-height: $sound-height - ($sound-border * 2);
		overflow: hidden;
		position: relative;
		white-space: nowrap;
		width: $title-width;
	}

	.sound-play {
		left: $button-offset;
		position: absolute;
		top: $button-offset;
	}

	.add {
		right: $button-offset;
		position: absolute;
		top: $button-offset;
	}
}
