$button-border: 0;
$button-border-radius: 0;
$button-border-width: 0;

$background: #FFFFFF;

$background-darken: 25%;
$action-foreground-odd-darken: 5%;

// action - buttons, etc.
$action-foreground: #EB7583;
$action-foreground-odd: darken($action-foreground, $action-foreground-odd-darken);
$action-background: darken($action-foreground, $background-darken);
$action-text: #FFFFFF;
$action-foreground-hover: lighten($action-foreground, 5%);
$action-background-hover: lighten($action-background, 5%);
$action-foreground-active: darken($action-foreground, 20%);
$action-background-active: darken($action-background, 20%);
$disabled-foreground: grayscale($action-foreground);
$disabled-background: grayscale($action-background);

$range-background: #F7E1E1;

// panel - contains elements.
$panel-foreground: #F5F5F5;
$panel-background: #E0E0E0;

// chrome - contains panels.
$chrome-foreground: #44A2B9;
$chrome-foreground-alternate: #5BB8D3;
$chrome-background: #CDE1FF;

// dragdrop - elements that can be dragged or dropped.
$drag-target-border: 2px;
$dragdrop-foreground: #F0F0F0;
$dragdrop-background: #E8E8E8;
$dragdrop-hinted-background: $action-foreground;
$dragdrop-active-background: #FF970F;

$track-control-height: 32px;
