@mixin box($width, $height, $border-width: 0) {
	border-width: $border-width;

	@if $height != "" {
		height: $height - ($border-width * 2);
	}

	@if $width != "" {
		width: $width - ($border-width * 2);
	}
}
