/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif; }

.button {
  background-image: url("images/buttons.png");
  cursor: pointer;
  height: 18px;
  width: 18px; }

.sound-browser .sounds-wrapper {
  background-color: #cdcdcd;
  border: 16px solid #343434;
  display: inline-block;
  height: 64px;
  width: auto; }
.sound-browser .sounds {
  overflow: hidden; }
.sound-browser .sound {
  border: 2px solid #f0f0f0;
  float: left;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 160px; }
.sound-browser .draggable {
  background-color: #cdcdcd;
  cursor: move;
  height: 100%;
  position: absolute;
  width: 100%; }
  .sound-browser .draggable:hover {
    background-color: aqua; }
.sound-browser .dragstart, .sound-browser .dragstart:hover {
  background-color: #00abab; }
.sound-browser .title {
  display: block;
  font-size: 12px;
  left: 28px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100px; }
.sound-browser .play {
  background-position: 0px 0px;
  left: 5px;
  position: absolute;
  top: 5px; }
.sound-browser .add {
  background-position: -72px 0px;
  right: 5px;
  position: absolute;
  top: 5px; }
.sound-browser .loading {
  background-position: -18px 0px;
  cursor: wait; }
.sound-browser .playing {
  background-position: -36px 0px;
  cursor: wait; }
.sound-browser .error {
  background-position: -54px 0px; }

.track-controls {
  height: 32px;
  overflow: hidden; }

.track-control {
  float: left;
  height: 100%;
  margin-right: 8px;
  position: relative;
  width: 128px; }
  .track-control .select {
    background-color: #343434;
    height: 100%;
    position: absolute;
    width: 100%; }
    .track-control .select:hover {
      background-color: aqua; }
  .track-control .selected {
    background-color: #cdcdcd; }
    .track-control .selected:hover {
      background-color: #cdcdcd; }
  .track-control .close {
    background-position: -90px 0px;
    position: absolute; }

.track-controls {
  overflow: hidden; }

.new-instrument-area {
  background-color: #ab00ab; }

.drag-target {
  border: 2px solid white; }

.drag-available {
  border-color: #00abab; }

.drag-over {
  border-color: aqua; }

.instrument-panel {
  float: left;
  width: 256px; }
  .instrument-panel .instrument {
    background-color: #cdcdcd;
    font-size: 10px;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 256px; }
    .instrument-panel .instrument .remove-instrument {
      background-position: -90px 0px;
      float: left;
      position: relative; }
  .instrument-panel .is-loading {
    font-style: italic; }
