.sounds {
	background-color: #ababab;
	border: 16px solid #cdcdcd;
	height: 32px;
	overflow: hidden;
}

.sound {
	background-color: #f8f8f8;
	border-bottom: 2px solid #f0f0f0;
	border-left: 2px solid #fafafa;
	border-right: 2px solid #f0f0f0;
	border-top: 2px solid #fafafa;
	cursor: move;
	float: left;
	height: 28px;
	overflow: hidden;
	position: relative;
	width: 148px;
}

.title {
	display: block;
	font-size: 12px;
	left: 30px;
	line-height: 28px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	width: 112px;
}

.play {
	background-position: 0 0;
	left: 5px;
	position: absolute;
	top: 5px;
}

.loading {
	background-position: -18px 0;
	cursor: wait;
}

.playing {
	background-position: -36px 0;
	cursor: wait;
}

.error {
	background-position: -54px 0;
}
