.track-controls {
	height: 32px;
    overflow: hidden;
}

.track-control {
    background-color: $panel-dark;
    float: left;
    height: 100%;
    margin-right: 8px;
    width: 128px;

    .close {
        @include button-sprite(5, 0);
        float: right;
    }
}

