<div class="sound-browser-controls">
	<button class="previous">Previous</button>
	<button class="refresh">Refresh</button>
	<button class="next">Next</button>
	<div class="collection-select">
		<% _.each(collections, function (collection) { %>
		<input id="<%= collection.className %>" type="radio" value="<%= collection.className %>" name="sound-collection"><label for="<%= collection.className %>"><%= collection.name %></label>
		<% }); %>
	</div>
	<input class="search-input"></input>
</div>
<div class="contains-floats sounds"></div>
